<!DOCTYPE html>
<html lang="en">
<head>
    <title>Auto Publicist</title>
    <!--    <link href="https://fonts.googleapis.com/css?family=Rokkitt:100,200,300,400,500,600,700,800,900" rel="stylesheet">-->
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<div id="pitch"></div>
</body>
<script defer="defer" src="<%= assets["auto-publicist.js"] %>"></script>
</html>
